<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shomitiapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DeleteData"></activity>
        <activity android:name=".Update_Fee" />
        <activity android:name=".Fee_List" />
        <activity android:name=".Add_fee" />
        <activity android:name=".Month_Fee" />
        <activity android:name=".Transaction" />
        <activity android:name=".ListOfMember" />
        <activity android:name=".About_Comitte" />
        <activity android:name=".About_us" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>